/************************************ 
#  BASE 
   - breakpoints, grid system, containers
   - core mixins and helpers
   - project styleguide 
   - browser styles resets
   - font imports
*************************************/

@import "base/mixins";

@import "base/colors";
@import "base/breakpoints"; 
@import "base/grid-system";
@import "base/containers"; 

@import "base/variables.core";
@import "base/variables.project"; 

@import "base/fonts"; 
@import "base/reset";    


/************************************ 
#  VENDORS
*************************************/
// @import "vendors/swiper"; 
// @import "vendors/slimSelect"; 
// @import "vendors/flatpickr"; 


/************************************ 
#  COMPONENTS - Common
*************************************/
@import "components/header";
@import "components/hero.scss";

@import "components/card.scss";
@import "components/quote.scss";
@import "components/section-title.scss";


@import "components/footer";

@import "components/editor";
@import "components/paginator";
@import "components/cookie";


/************************************ 
#  COMPONENTS - Project specific
*************************************/

// Page components


// Misc
@import "components/alerts";
@import "components/modal";


/************************************ 
#  ELEMENTS
*************************************/ 
@import "elements/body"; 
@import "elements/typography";
@import "elements/buttons"; 
@import "elements/forms";


/***********************
* LAYOUT  
***********************/
@import "layout/grid";


/************************************ 
#  SECTIONS
*************************************/
@import "sections/section"; 
@import "sections/siteContainer";


/************************************ 
#  PAGES
*************************************/



/************************************ 
#  UTILITIES
*************************************/
@import "utilities/utilities";


/************************************ 
#  PRINT
*************************************/
@import "print";