.s-section {
  @include padding-l-r;
  
  &--txt-c{
      text-align: center;
  }

  &--pd-md-md{
    @include paddingTop-md;
    @include paddingBot-md;
  }

  &--pd-sm-md{
    @include paddingTop-sm;
    @include paddingBot-md;
  }

  &--bkg{
    background-color: $color-bg-ternary;
  }
}

.s-hero{
    height: calc(100vh - 120px);

    background-image: url(https://picsum.photos/1920/1080);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}