$container-lg: 1170px;
$container-md: 920px;
$container-sm: 730px;
$container-xs: 540px;

// CONTAINERS
@mixin container() {
  width: 100%;
  max-width: $container-lg;   // Default container width
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
}

@mixin container-lg() {
  @include container;
  max-width: $container-lg; 
}
@mixin container-md() {
  @include container;
  max-width: $container-md; 
}
@mixin container-sm() {
  @include container;
  max-width: $container-sm; 
}
@mixin container-xs() {
  @include container;
  max-width: $container-xs; 
}
@mixin container-fluid {
  @include container;
  width: auto;
}

.l-container {
  @include container;
}

.l-container--lg {
  @include container-lg;
}
.l-container--md {
  @include container-md;
}
.l-container--sm {
  @include container-sm;
}
.l-container--xs {
  @include container-xs;
}