/************************************ 
#  GRID
*************************************/

$enable-grid-classes:  true !default;
$grid-colums:          12;
$grid-gutter:          30px; // Default grid gutter for large screens
$grid-gutter-lg:       20px;
$grid-gutter-md:       20px;
$grid-gutter-sm:       14px;
$grid-gutter-xs:       10px;

$col-preffix:         "l-col--" !default;

$col-suffix-position: "afterNumber" !default; // afterPrefix, afterNumber

$col-suffix-xs:       "xs-" !default;
$col-suffix-sm:       "sm-" !default;
$col-suffix-md:       "md-" !default;
$col-suffix-lg:       "lg-" !default;
$col-suffix-xl:       "xl-" !default;

// Helper mixins for:
// Block padding - section/blocks horizontal padding
// Col padding   - cols horizontal padding
// Row margin    - negative row horizontal margins (avoid double sides gaps)
@mixin block-padding($scale: 1){

  padding-left: ($grid-gutter * $scale);
  padding-right: ($grid-gutter * $scale);

  @media (min-width: ($break-lg + 1)) {
    padding-left: ($grid-gutter * $scale);
    padding-right: ($grid-gutter * $scale);
  }
  @media (max-width: $break-lg) {
    padding-left: ($grid-gutter-lg * $scale);
    padding-right: ($grid-gutter-lg * $scale);
  }
  @media (max-width: $break-md) {
    padding-left: ($grid-gutter-md * $scale);
    padding-right: ($grid-gutter-md * $scale);
  }
  @media (max-width: $break-sm) {
    padding-left: ($grid-gutter-sm * $scale);
    padding-right: ($grid-gutter-sm * $scale);
  }
  @media (max-width: $break-xs) {
    padding-left: ($grid-gutter-xs * $scale);
    padding-right: ($grid-gutter-xs * $scale);
  }
}

@mixin row-margins {

  margin-left: -($grid-gutter/2);
  margin-right: -($grid-gutter/2);

  @media (max-width: ($break-lg + 1)) {
    margin-left: -($grid-gutter/2);
    margin-right: -($grid-gutter/2);
  }
  @media (max-width: $break-lg) {
    margin-left: -($grid-gutter-lg/2);
    margin-right: -($grid-gutter-lg/2);
  }
  @media (max-width: $break-md) {
    margin-left: -($grid-gutter-md/2);
    margin-right: -($grid-gutter-md/2);
  }
  @media (max-width: $break-sm) {
    margin-left: -($grid-gutter-sm/2);
    margin-right: -($grid-gutter-sm/2);
  }
  @media (max-width: $break-xs) {
    margin-left: -($grid-gutter-xs/2);
    margin-right: -($grid-gutter-xs/2);
  }
}

@mixin col-padding {

  padding-left: ($grid-gutter/2);
  padding-right: ($grid-gutter/2);

  @media (min-width: ($break-lg + 1)) {
    padding-left: ($grid-gutter/2);
    padding-right: ($grid-gutter/2);
  }
  @media (max-width: $break-lg) {
    padding-left: ($grid-gutter-lg/2);
    padding-right: ($grid-gutter-lg/2);
  }
  @media (max-width: $break-md) {
    padding-left: ($grid-gutter-md/2);
    padding-right: ($grid-gutter-md/2);
  }
  @media (max-width: $break-sm) {
    padding-left: ($grid-gutter-sm/2);
    padding-right: ($grid-gutter-sm/2);
  }
  @media (max-width: $break-xs) {
    padding-left: ($grid-gutter-xs/2);
    padding-right: ($grid-gutter-xs/2);
  }
}

// ROWS
@mixin row() {
  display: flex;
  flex-wrap: wrap;

  @include row-margins

}
@mixin no-gutters() {
  margin-left: 0;
  margin-right: 0;
  > [class^="l-col--"] {
    padding-left: 0;
    padding-right: 0;
  }
}

//@if $enable-grid-classes {
  .l-row {
    @include row;

    &--noGutters {
      @include no-gutters;
    }
  }
//}

// COLUMNS
@if $enable-grid-classes {
  .l-col {
    flex-basis: 0;
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
  }
  [class^="l-col--"] {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin col($size: null, $columns: $grid-colums) {
  @if $size == null {
    flex: 1;
  } @else {
    flex: 0 0 $size/$columns * 100%;
  }
  max-width: $size/$columns * 100%;

  @include col-padding;  
  
}

@mixin col-half() {
  flex: 0 0 50%;
  max-width: 50%;
  
  @include col-padding;  

}

@mixin col-third() {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  
  @include col-padding;  

}

@mixin col-quart() {
  flex: 0 0 25%;
  max-width: 25%;
  
  @include col-padding;  

}

@mixin col-fifth() {
  flex: 0 0 20%;
  max-width: 20%;
  
  @include col-padding;  

}

// @mixin col($size: null, $columns: $grid-colums) {
//   @if $size == null {
//     flex: 1;
//   } @else {
//     flex: 0 0 $size/$columns * 100%;
//   }
//   max-width: $size/$columns * 100%;
//   padding-left: ($grid-gutter/2);
//   padding-right: ($grid-gutter/2);
// }

// Create additional option: mixin divider nCols/1 divider(4) = 1/4 0> width: 25%

// Grid columns: calculate and generate classes if grid classes are enabled
@if $enable-grid-classes {
  @for $i from 1 through ($grid-colums) {
    .#{$col-preffix + $i} {
      flex: 0 0 ((1 / $grid-colums * $i) * 100%);
      max-width: (1 / $grid-colums * $i) * 100%;
    }
  }

  // Grid columns:
  // aditional calculation and class generator for each defined breakpoint
  @include mq(xs) {
    @for $i from 1 through ($grid-colums) {
      .#{$col-preffix + $col-suffix-xs + $i} {
        flex: 0 0 ((1 / $grid-colums * $i) * 100%);
        max-width: (1 / $grid-colums * $i) * 100%;
      }
    }
  }

  @include mq(sm) {
    @for $i from 1 through ($grid-colums) {
      .#{$col-preffix + $col-suffix-sm + $i} {
        flex: 0 0 ((1 / $grid-colums * $i) * 100%);
        max-width: (1 / $grid-colums * $i) * 100%;
      }
    }
  }

  @include mq(md) {
    @for $i from 1 through ($grid-colums) {
      .#{$col-preffix + $col-suffix-md + $i} {
        flex: 0 0 ((1 / $grid-colums * $i) * 100%);
        max-width: (1 / $grid-colums * $i) * 100%;
      }
    }
  }

  @include mq(lg) {
    @for $i from 1 through ($grid-colums) {
      .#{$col-preffix + $col-suffix-lg + $i} {
        flex: 0 0 ((1 / $grid-colums * $i) * 100%);
        max-width: (1 / $grid-colums * $i) * 100%;
      }
    }
  }

  @include mq(xl) {
    @for $i from 1 through ($grid-colums) {
      .#{$col-preffix + $col-suffix-xl + $i} {
        flex: 0 0 ((1 / $grid-colums * $i) * 100%);
        max-width: (1 / $grid-colums * $i) * 100%;
      }
    }
  }
}

// OFFSET
@mixin offset($size: 1) {
  margin-left: ($size/$grid-colums) * 100%;
}

@if $enable-grid-classes {
  // Generate offset classes
  @for $i from 1 through ($grid-colums - 2) {
    .offset-#{$i} {
      @include offset($i);
    }
  }

  // Generate offset classes depends on breakpoints
  @include mq(xs) {
    @for $i from 1 through ($grid-colums) {
      .#{(offset-) + $col-suffix-xs + $i} {
        @include offset($i);
      }
    }
  }

  @include mq(sm) {
    @for $i from 1 through ($grid-colums) {
      .#{(offset-) + $col-suffix-sm + $i} {
        @include offset($i);
      }
    }
  }

  @include mq(md) {
    @for $i from 1 through ($grid-colums) {
      .#{(offset-) + $col-suffix-md + $i} {
        @include offset($i);
      }
    }
  }

  @include mq(lg) {
    @for $i from 1 through ($grid-colums) {
      .#{(offset-) + $col-suffix-lg + $i} {
        @include offset($i);
      }
    }
  }

  @include mq(xl) {
    @for $i from 1 through ($grid-colums) {
      .#{(offset-) + $col-suffix-xl + $i} {
        @include offset($i);
      }
    }
  }
}

// PUSH
@mixin push($size: 1) {
  margin-right: ($size/$grid-colums) * 100%;
}

@if $enable-grid-classes {
  // Generate offset classes
  @for $i from 1 through ($grid-colums - 2) {
    .push-#{$i} {
      @include push($i);
    }
  }

  // Generate offset classes depends on breakpoints
  @include mq(xs) {
    @for $i from 1 through ($grid-colums) {
      .#{(push-) + $col-suffix-xs + $i} {
        @include push($i);
      }
    }
  }

  @include mq(sm) {
    @for $i from 1 through ($grid-colums) {
      .#{(push-) + $col-suffix-sm + $i} {
        @include push($i);
      }
    }
  }

  @include mq(md) {
    @for $i from 1 through ($grid-colums) {
      .#{(push-) + $col-suffix-md + $i} {
        @include push($i);
      }
    }
  }

  @include mq(lg) {
    @for $i from 1 through ($grid-colums) {
      .#{(push-) + $col-suffix-lg + $i} {
        @include push($i);
      }
    }
  }

  @include mq(xl) {
    @for $i from 1 through ($grid-colums) {
      .#{(push-) + $col-suffix-xl + $i} {
        @include push($i);
      }
    }
  }
}