// Imports (helpers, vendors, etc)
@import "base/helpers/helpers";

// Global spacings
$base-spacing-unit:           20px;

// Typography
$font-family-primary:         'Roboto', sans-serif;
$font-family-secondary:       'Roboto', sans-serif;
$font-family-icons:           "Font Awesome 5 Free";
$font-family-icons-alt:       "CustomIconsPackage";

$font-size-base:               16px;
$font-size-large:              $font-size-base * 1.25;
$font-size-small:              $font-size-base * 0.85;
$font-size-xs:                 $font-size-base * 0.7;

$font-size-h1:                 64px;
$font-size-h2:                 24px;
$font-size-h3:                 21px;
$font-size-h4:                 18px;
$font-size-h5:                 16px;
$font-size-h6:                 15px;

$headings-font-family:         $font-family-secondary;
$headings-font-weight:         600;
$headings-line-height:         1.1;
$headings-color:               #292c34;
$headings-text-transform:      null;
$heading-top-spacing-unit:     $base-spacing-unit * 1.75;

$line-height-base:             1.5;
$line-height-large:            1.75;
$line-height-medium:           1.25;
$line-height-small:            1.1;

$font-weight-light:            300;
$font-weight-normal:           400;
$font-weight-medium:           500;
$font-weight-bold:             700;

// Global/default links styling
$link-color:                   $color-primary;
$link-hover-color:             $color-secondary;
$link-decoration:              underline;
$link-hover-decoradion:        none;


// Global table styling
$table-base-color:             $color-txt-primary;
$table-font-size:              1em;

$table-cell-border:            transparent;
$table-heading-border:         transparent;

$table-heading-color:          #fff;
$table-heading-row-bg:         $color-primary;
$table-heading-font-family:    $font-family-secondary;
$table-heading-font-size:      18px;
$table-heading-text-transform: null;

$table-even-row-bg:            #fff;
$table-odd-row-bg:             #edfaff;

$table-cell-padding:           10px 20px;
$table-heading-padding:        15px 20px;

// Z-indexes
$z-index--modal--trigger:     4000;
$z-index--header:             5000; // STARTING VALUE for z-index
$z-index--modal:              6000;