.c-card{
    width: 100%;
    height: 100%;

    &__img{
        
        &, img{
            width: 100%;
        }

        &--round{
            width: fit-content;
            padding: 22px;
            border-radius: 50%;
            background-color: $color-primary;

            margin: 0 auto;
        }
    }

    &__content{
        margin-top: 24px;

        &_title{
            font-weight: 400;

            &--secondary{
                color: $color-primary;
            }
        }

        &_info{
            margin-top: 12px;
        }
    }

}