.c-footer {
  background-color: $color-bg-secondary;
  padding: 34px 0;

  .l-container{
    @include flex(row, wrap, space-between, center);    

    @include mq(sm){
      flex-direction: column;
    }
  }

  &__rights{
    @include flex(row, wrap, center, center);
    
    font-size: $font-size-base * 0.85;

    &_logo{
        margin-right: 12px;
    }
  }

  &__socials{
    min-width: 160px;

    @include flex(row, wrap, space-between, center);    

    @include mq(sm){
      margin-top: 22px;
    }
  }

}