.c-header {
    height: 120px;

    &__logo{
        height: 100%;

        @include mq(sm){
            height: 58%;
        }
    }

    .l-container{
        @include flex(row, wrap, space-between, center);

        height: 100%;
    }
}