.c-hero{
    @include flex(column, wrap, center, center);
    
    height: 100%;

    &__title{
        color: white;
        text-shadow: 0 0 3px black;

        @include fluid-type(28px, 64px);
    }
    
    &__info{
        color: white;
        font-weight: 400;
        text-shadow: 0 0 3px black;

        margin-top: 26px;
        margin-bottom: 58px;

        @include fluid-type(18px, 32px);
    }
}