.c-modal {

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $overlay-bg-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    outline: none;
  }

  &__body {
    background-color: #fff;
    width: 500px;
    max-width: calc(100% - 30px);
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;

    @media (max-width: $break-sm) {
      width: 100%;
      max-width: 100%;
      border-radius: 0;
    }

  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 1px solid #eee;
    background: $color-primary;
    color: #fff;

    &_close {
      width: 32px;
      height: 32px;
      line-height: 32px;
      display: inline-flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      background: darken($color-primary, 5%);
      color: #fff;
      border-radius: 3px;
      transition: all 0.2s ease-in-out;
      margin-right: -15px;

      i {
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 16px;
        pointer-events: none;
      }

      &:hover,
      &:focus {
        background: darken($color-primary, 10%);
      }
    }
  }

  &__content {
    line-height: 1.5;
    padding: 30px;
  }

  &__footer {
    padding: 15px 30px;
    border-top: 1px solid #eee;
    background: #f8f8f8;
    display: flex;
    justify-content: flex-end;

    button {
      margin-left: 10px;
    }

    &_note {
      line-height: 1.33;
      font-size: 13px;
    }

  }
}

// Modal animation
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.c-modal {
  display: none;
}

.c-modal.is-open {
  display: block;
}

.c-modal[aria-hidden="false"] .c-modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.c-modal[aria-hidden="false"] .c-modal__body {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.c-modal[aria-hidden="true"] .c-modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.c-modal[aria-hidden="true"] .c-modal__body {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.c-modal .c-modal__body,
.c-modal .c-modal__overlay {
  will-change: transform;
}

[data-micromodal-trigger] {
  cursor: pointer;
}