.c-pgn {
  display: flex;
  align-items: center;
  align-content: center;

  margin-top: 50px;
  @media (max-width: $break-md) {
    margin-top: 40px;
  }
  @media (max-width: $break-sm) {
    margin-top: 30px;
  }

  &__item {
    a {
      height: 48px;
      padding: 0 15px;
      box-shadow: 0 3px 7px 0 rgba(#000, 0.18);
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      font-size: 14px;
      color: #333;
      background: #fff;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &__number {
    margin: 0 3px;
    a {
      width: 48px;
      padding: 0;
    }

    &.isActive {
      a,
      a:hover {
        background: #edfaff;
        color: #333;
      }
    }

    @media (max-width: $break-sm) {
      display: none;
      &.isActive {
        display: block;
      }
    }
  }

  &__dots {
    margin: 0;
    a {
      width: 48px;
      padding: 0;
      box-shadow: none;
      background: 0;
      &:hover {
        background: 0;
        color: $color-secondary;
      }
    }
    @media (max-width: $break-sm) {
      display: none;
    }
  }

  &__prev,
  &__next {
    a {
      padding: 0 20px;
      @media (max-width: $break-sm) {
        padding: 0;
        width: 48px;
        font-size: 0;
        line-height: 0;
        i {
          @media (max-width: $break-sm) {
            font-size: 20px;
            line-height: 48px;
            margin: 0;
          }
        }
      }
    }
  }

  &__prev {
    order: 2;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 3px;
    i {
      margin: 0 7px 0 0;
    }
  }
  &__next {
    order: 3;
    margin-left: 3px;
    i {
      margin: 0 0 0 7px;
    }
  }

  &__back {
    flex-grow: 1;
    margin-right: 20px;
    line-height: 1.2;
    a {
      padding: 0 20px 0 15px;
      i {
        margin-right: 10px;
        font-size: 18px;
        opacity: 0.5;
        color: $color-txt-secondary;
      }
    }
  }
}
