@mixin padding-l-r{
    padding-left: 44px;
    padding-right: 44px;

    @include mq(sm){
        padding-left: 26px;
        padding-right: 26px;  
    }
}

@mixin paddingTop-md {
    padding-top: 100px;

    @include mq(md){
        padding-top: 82px;
    }

    @include mq(sm){
        padding-top: 56px;
    }
}

@mixin paddingTop-sm {
    padding-top: 72px;

    @include mq(md){
        padding-top: 66px;
    }

    @include mq(sm){
        padding-top: 32px;
    }
}

@mixin paddingBot-md {
    padding-bottom: 100px;

    @include mq(md){
        padding-bottom: 82px;
    }

    @include mq(sm){
        padding-bottom: 56px;
    }
}

@mixin paddingBot-sm {
    padding-bottom: 72px;
    
    @include mq(md){
        padding-bottom: 66px;
    }

    @include mq(sm){
        padding-bottom: 32px;
    }
}