.l-grid {
  @include row;
  
  &--gutter{
    >*{
      @include block-padding(0.4);
    }

    &-md{
      >*{
        @include block-padding(0.875);
      }
    }

  }



  // Desktop (lg, xl)

  // Tablet (md)

  // Mobile (sm)
  @include mq(sm){
    >* + *{
      margin-top: 32px;
    }
  }

  // Smallest mobile (xs)
  
}