button {
  appearance: none;
  box-shadow: none;
  cursor: pointer;
  display: inline-flex;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  outline: none;
}

a,
button {
  &[disabled] {
    @extend %u-disabled;
  }
}

.e-btn {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  white-space: normal;
  text-decoration: none;
  width: fit-content;

  padding: 0;

  font-family: $font-family-primary;
  font-size: $font-size-base;
  font-weight: 400;
  line-height: 1.15;
  letter-spacing: 0.025em;

  min-width: 160px;
  height: 48px;
  padding-left: 30px;
  padding-right: 30px;
  background: $color-primary;
  color: #fff;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.35); 
  transition: all 0.25s ease-in-out;

  &:hover,
  &:focus {
    background-color: darken($color-secondary, 8%);
  }

  &--block {
    display: flex;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  &--large {
    
  }

  &--small {
    
  }

  &--icon-before {
    i {
      margin-right: 5px;
    }
  }

  &--icon-after {
    i {
      margin-left: 5px;
    }
  }

}
