// Form components
.c-formControl,
.c-check {
  position: relative;
  z-index: 1;

  &.is-focused {
    z-index: 2;
  }

}

// Labels
.c-formControl {
  label {
    display: block;
    margin-bottom: 3px;
    font-size: 13px;
    font-weight: 600;
    padding-left: 25px;
    text-align: left;
  }
}

.c-formControl {
  &.is-valid,
  &.is-invalid {
    color: $color-error;
  }
  &.is-valid {
    color: $color-success;
  }
}

// Fields defaults
.c-field {
  position: relative;
  z-index: 1;
  flex-grow: 1;

  // Validation state indicator - common
  .is-invalid &,
  .is-valid & {
    &:after {
      display: block;
      font-family: $font-family-icons;
      z-index: 2;
      position: absolute;
      top: 15px; // var: (field height - btn height) / 2
      //transform: translateY(-50%); // var
      right: 15px;
      font-size: 18px;
    }
  }

  // Error state
  .is-invalid & {
    &:after {
      content: "\f06a"; // var
      color: $color-error;
    }
  }

  // Valid state
  .is-valid & {
    &:after {
      content: "\f058"; // var
      color: $color-success;
    }
  }

  input,
  .c-inputFile,
  select,
  textarea {
    height: 48px; // var
    border-radius: 24px; // var
    border: 1px solid #999; // var
    padding: 0 24px; // var
    font-family: $font-family-primary; // var
    font-size: 14px; // var
    line-height: 1.25;
    color: $color-txt-primary; // var
    box-shadow: none; // var
    transition: all 0.2s ease-in-out; // var
    outline: none;
    background: #fff; // var
    width: 100%; // var / condition ?
    position: relative;
    z-index: 2;

    @include input-placeholder {
      color: #999; // var
      opacity: 1;
    }

    &:focus {
      box-shadow: inset 0px 0 4px 0px rgba(0, 0, 0, 0.5); // var / mixin
    }

    &:disabled {
      opacity: 0.5; // var / mixin
      cursor: not-allowed;
    }

    // Error states - fields
    .is-invalid & {
      border-color: lighten($color-error, 25%);
      color: $color-error;
      background-color: lighten($color-error, 45%);
      box-shadow: none;

      @include input-placeholder {
        color: $color-error;
        opacity: 0.5;
      }
    }

    // Valid states - fields
    .is-valid & {
      border-color: lighten($color-success, 10%);
      color: $color-success;
      background-color: lighten($color-success, 57%);
      box-shadow: none;
      @include input-placeholder {
        color: $color-success;
        opacity: 0.5;
      }
    }
  }

  &.c-field--file input:focus + .c-inputFile {
    box-shadow: inset 0px 0 4px 0px rgba(0, 0, 0, 0.5); // var / mixin
  }

}

// Date input
.c-field--date {

  &:before {
    display: block;
    font-family: $font-family-icons;
    content: "\f073";
    font-size: 16px;
    z-index: 20;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: $color-primary;
    pointer-events: none;
  }

}

// Time input
.c-field--time {

  &:before {
    display: block;
    font-family: $font-family-icons;
    content: "\f017";
    font-size: 16px;
    z-index: 20;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    color: $color-primary;
    pointer-events: none;
  }

}

// File input
.c-field--file {
  input {
    opacity: 0 !important;
  }
}

.c-inputFile {
  input[disabled] + & {
    opacity: 0.5; // var / mixin
  }

  position: absolute !important;
  z-index: 1 !important;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__value {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-left: -20px;
    border-radius: 19px;
    background: $color-primary;
    color: #fff;
    height: calc(100% - 6px);
    padding: 0;
    align-content: center;
    min-width: 100px;
  }
}

// Select
.c-field--select {
  // Custom select arrow
  &:before {
    display: block;
    font-family: "Font Awesome 5 Free";
    content: "\f078"; // var
    position: absolute;
    right: 20px; // var
    top: 50%; // var
    transform: translateY(-50%); // var
    pointer-events: none;
    font-size: 12px; // var
    z-index: 20;
  }

  select {
    padding: 0 30px 0 30px;
    width: 100%;
  }

  .is-valid &,
  .is-invalid & {
    &:after {
      right: 40px !important;
    }
  }
}

// Remove default select arrow
select {
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

// Textarea
.c-field {
  textarea {
    padding-top: 15px;
    padding-bottom: 15px;
    overflow: hidden;
    resize: none;
    white-space: pre-line;
    text-overflow: clip;
    width: 100%;
    height: 170px;
    line-height: 1.75;
  }

}

/*** Form checkbox/radio ***/
.c-check {
  position: relative;

  .c-formControl &:not(&--inline) {
    flex: 0 0 100%;
  }

  label {
    @include unselectable;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
  }

  &.is-valid {
    color: $color-success;
  }
  &.is-invalid {
    color: $color-error;
  }
}

.c-check {
  label {
    position: relative;
    z-index: 2;
    display: block;
    padding: 0 0 0 24px;
    line-height: 24px;

    &:before,
    &:after {
      display: block;
      content: "";
      position: absolute;
      top: 3px;
      left: 0;
      width: 14px;
      height: 14px;
    }

    &:before {
      border: 1px solid #999;
    }
  }
  &.is-valid label:before {
    border-color: $color-success;
  }
  &.is-invalid label:before {
    border-color: $color-error;
  }

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }

  input[type="checkbox"],
  input[type="radio"] {
    & + label:after {
      font-family: "Font Awesome\ 5 Free";
      font-size: 10px;
      line-height: 14px;
      text-align: center;
      opacity: 0;
      transition: all 0.15s ease-in-out;
    }
  }

  // Checkbox button
  input[type="checkbox"] + label:after {
    content: "\f00c";
  }

  // Radio button
  input[type="radio"] + label:before {
    background: transparent;
    border-radius: 50%;
  }
  input[type="radio"] + label:after {
    font-size: 14px;
  }

  input[type="radio"]:checked + label:before {
    background: transparent;
    border-color: transparent;
  }
  input[type="radio"]:checked + label:after {
    content: "\f058";
  }

  // input[type="checkbox"]:focus + label:before, 
  // input[type="radio"]:focus + label:before {
  //   outline: none;
  //   box-shadow: 0 0 0 3px $color-outline-focus;
  // }

  // Input states
  input {
    &:checked + label:after {
      opacity: 1;
    }

    &:disabled + label {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.5;
    }

  }
}

.c-check {
  & + & {
    margin-top: 10px;
  }

  &--btn {
    label {
      height: 48px;
      line-height: 48px;
      background: #fff;
      box-shadow: 0 1px 3px 0 rgba(#000, 0.18);
      border-radius: 24px;
      padding-left: 42px;
      font-size: 16px;
      transition: all 0.15s ease-in-out;

      &:before,
      &:after {
        top: 50%;
        left: 18px;
        transform: translateY(-50%);
      }
    }

    input:checked + label {
      background: $color-primary;
      color: #fff;
      box-shadow: 0 1px 3px 0 rgba(#000, 0.18);
      //border-color: lighten($color-primary, 30%);
    }

    &.check--correct {
      input:checked + label {
        background: #4d890d;
        color: #fff;
        opacity: 1 !important;
      }
    }

    &.check--wrong {
      input:checked + label {
        background: #e34040;
        color: #fff;
        opacity: 1 !important;
      }
    }

    &:not(.radio--btnTopChoice) {
      input:not(:checked) + label:hover {
        color: $color-primary;
      }
    }
  }

  &--switch {
    label {
      padding-left: 40px;
    }

    input[type="radio"] + label:before,
    input[type="checkbox"] + label:before {
      width: 30px;
      height: 16px;
      border-radius: 7px;
      border: 1px solid #999;
      top: 3px;
    }
    input[type="radio"] + label:after,
    input[type="checkbox"] + label:after {
      width: 12px;
      height: 12px;
      content: "" !important;
      background-color: #999;
      border-radius: 50%;
      opacity: 1;
      margin-top: 2px;
      margin-left: 2px;
      transition: all 0.2s ease-in-out;
      top: 3px;
    }

    input[type="radio"]:checked + label:before,
    input[type="checkbox"]:checked + label:before {
      border-color: $color-primary;
    }

    input[type="radio"]:checked + label:after,
    input[type="checkbox"]:checked + label:after {
      background-color: $color-primary;
      left: 14px;
    }
  }
}

.c-check--inline,
.c-check--inline {
  display: inline-flex;
  margin-top: 10px;
  margin-left: 0;
  margin-right: 15px;
  width: auto;

  &.c-check--btn {
    margin-right: 5px;
    label {
      padding: 10px 15px;
      font-size: 14px;
      border-radius: 20px;
      line-height: 1.25;
      height: 40px;
      background: #f8f8f8;
      border: 1px solid transparent;
      display: inline-flex;
      align-content: center;
      align-items: center;
      text-align: center;

      &:before,
      &:after {
        display: none;
      }
    }
  }
}

// Panels
.c-formPanel {
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
  &.is-open {
    visibility: visible;
    width: initial;
    height: initial;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 18px;
  }
}

form {
  a {
    color: $color-primary;
    transition: all 0.2s ease-in-out;
    &:hover {
      color: $color-secondary;
    }
  }
}

// Field description
.c-fieldDescription {
  font-size: 14px;
  line-height: 1.5;
  padding: 10px 24px 0 24px;
}

// Error messages
.c-validationFeedback {
  font-size: 12px;
  line-height: 14px;
  padding: 3px 24px 0;
  display: none;
  flex: 0 0 100%; // var / condition?

  .is-valid &,
  .is-invalid & {
    display: block;
  }

  .is-valid & {
    color: $color-success;
  }

  .is-invalid & {
    color: $color-error;
  }

  .c-check--btn + & {
    padding-left: 0;
    padding-top: 10px;
  }
}

// Form groups and rows
.c-form {
  &__group {
    margin-top: 40px;

    @media (max-width: $break-sm) {
      margin-top: 30px;
    }

    input + &, 
    &:first-child {
      margin-top: 0;
    }

    &--offsetY {
      margin-top: 50px;
    }

    &_row {
      margin-top: 25px;
      &:first-child {
        margin-top: 0;
      }

      .c-formControl input {
        width: 100%;
      }

      &--lostPassword {
        margin-bottom: -15px;
        text-align: right;
        a {
          color: $color-primary;
          transition: all 0.15s ease-in-out;
          &:hover {
            color: $color-secondary;
          }
        }
      }
    }

    &__title {
      font-size: 14px;
      font-weight: 700;
      font-family: $font-family-primary;
      letter-spacing: 0;
      margin: 0;

      & + .c-form__group_row {
        margin-top: 10px;
      }
    }
    &__title--centered {
      text-align: center;
    }
  }
}

// Form submit/reset
.c-form {
  &__submit {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &:first-child {
      margin-top: 0;
    }

    .e-btn {
      margin-top: 20px;
      @media (max-width: 560px) {
        width: 100%;
      }
    }

    .e-btn:only-child {
      width: 100%;
    }

    .checkbox {
      margin-top: 20px;
      margin-right: 10px;
    }
  }
}

// Focus outline fix
input:focus {
  outline: none;
}

// Input default appearance fix
input[type="date"], 
input[type="time"] {
  appearance: none;
  &::-ms-expand {
    display: none;
  }
}

// Label variation - above field
// .c-formControl {
//   > label {
//     display: block;
//     width: 100%;
//     margin-bottom: 10px;
//   }
// }

// Label variation - inline with field
// .c-formControl {
//   > label {
//     display: block;
//     width: 200px;
//     align-self: center;
//   }
// }
