/************************************ 
#  TYPOGRAPHY
*************************************/

// HEADINGS
h1,
.e-h1,
h2,
.e-h2,
h3,
.e-h3,
h4,
.e-h4,
h5,
.e-h5,
h6,
.e-h6 {
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
  text-transform: $headings-text-transform;
  margin-top: $heading-top-spacing-unit;

  &:first-child {
    margin-top: 0;
  }
}

h1,
.e-h1 {
  font-size: $font-size-h1;
  margin-top: 0;
  letter-spacing: -0.025em;
}
h2,
.e-h2 {
  font-size: $font-size-h2;
  letter-spacing: -0.025em;
}
h3,
.e-h3 {
  font-size: $font-size-h3;
  letter-spacing: -0.025em;
}
h4,
.e-h4 {
  font-size: $font-size-h4;
  letter-spacing: 0.025em;
}
h5,
.e-h5 {
  font-size: $font-size-h5;
  letter-spacing: 0.025em;
}
h6,
.e-h6 {
  font-size: $font-size-h6;
  letter-spacing: 0.025em;
  font-style: italic;
}

// Reset heading link (clean default link styling from heading links)
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
.e-h1 a,
.e-h2 a,
.e-h3 a,
.e-h4 a,
.e-h5 a,
.e-h6 a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
  }
}

// FONT STYLES
strong,
b {
  font-weight: $font-weight-bold;
}
em,
i {
  font-style: italic;
}
small {
  font-size: $font-size-small;
}
mark {
  background: yellow;
}
del {
  text-decoration: line-through;
}

sup {
  display: inline-flex;
  vertical-align: top;
  font-size: 10px;
}

sub {
  display: inline-flex;
  vertical-align: bottom;
  font-size: 10px;
}

// GLOBAL LINK
a {
  color: inherit;
  text-decoration: none;
}

.e-link {
  color: $link-color;
  text-decoration: $link-decoration;
}
.e-link:hover {
  color: $link-hover-color;
  text-decoration: $link-hover-decoradion;
}

.e-link--unstyled {
  color: inherit !important;
  text-decoration: none !important;
}

// Lead paragraph
.e-paragraph--lead {
  font-size: 1.1em;
  line-height: 1.75;
  font-family: $font-family-secondary;
  font-weight: 600;
}

.e-paragraph--highlighted {
  margin-top: 30px;
  margin-bottom: 30px;
  background: #edfaff;
  font-size: 1.1em;
  line-height: 1.33;
  font-weight: 500;
  border: 1px solid #e1e1e1;
  text-align: center;
  padding: 20px;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

// Blockquote
blockquote,
.e-blockquote {
  position: relative;
  border-left: 8px solid $color-primary;
  padding: 1.2em 30px 1.2em 60px;
  font-size: 1.1em;
  font-style: italic;
  background: #edfaff;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    font-family:Arial, Arial, Helvetica, sans-serif;
    content: "\201C";
    color:$color-primary;
    font-size:4em;
    position: absolute;
    left: 10px;
    top:-10px;
  }
}

// Inline quote
q,
.e-quote {
  font-style: italic;
  color: $color-primary;
}

/* hr */
hr,
.e-hr {
  display: block;
  clear: both;
  height: 1px;
  border: 0;
  box-shadow: none;
  margin: $base-spacing-unit 0;
  color: $divider-light-color;
  background: $divider-light-color;
}

// LISTS
.e-list {
  margin-left: $base-spacing-unit;

  &--unordered {
    list-style-type: disc;

    // Sub lists inside unordered list
    > li > ul {
      margin-left: $base-spacing-unit;
      list-style-type: circle;
    }

    > li > ol {
      margin-left: $base-spacing-unit;
      list-style-type: decimal;
    }
  }

  &--unstyled {
    margin-left: 0;
  }

  &--inline {
    margin-left: 0;
    li {
      display: inline-flex;
      margin-right: 10px;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &--ordered {
    list-style-type: decimal;

    // Sub lists inside ordered list
    > li > ul {
      margin-left: $base-spacing-unit;
      list-style-type: circle;
    }

    > li > ol {
      margin-left: $base-spacing-unit;
      list-style-type: lower-alpha;
    }
  }

}

// Definition list
.e-dl {
  dt {
    font-weight: bold;
    margin-top: $base-spacing-unit/2;
    &:first-child {
      margin-top: 0;
    }
  }

  dd {
    margin-top: $base-spacing-unit/2;
    margin-left: $base-spacing-unit;
    &:first-child {
      margin-top: 0;
    }
  }
}

// TABLES
table,
.e-table {
  font-size: $table-font-size;
  color: $table-base-color;
  line-height: $line-height-medium;

  caption {
    margin-bottom: 10px;
    color: $color-primary;
  }
}

.e-table__wrapperOuter {
  position: relative;
  overflow: hidden;

  &:after {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    width: 50px;
    height: 100%;
    border-radius: 10px 0 0 10px / 50% 0 0 50%;
    box-shadow: -5px 0 10px rgba(#000, 0.25);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }

  &.is-scrolling {
    &:after {
      opacity: 1;
    }
  }
}

.e-table__wrapper {
  width: 100%;
  overflow-x: auto;
}

th,
td {
  padding: $table-cell-padding;
}

th {
  border: 1px solid $table-heading-border;
  color: $table-heading-color;
  background: $table-heading-row-bg;
  text-align: left;
  font-family: $table-heading-font-family;
  font-size: $table-heading-font-size;
  text-transform: $table-heading-text-transform;
  padding: $table-heading-padding;

  &:first-child {
    border-top-left-radius: 4px;
  }
  &:last-child {
    border-top-right-radius: 4px;
  }

  @media print {
    border-color: #ccc;
    color: #000;
  }
}
td {
  border: 1px solid $table-cell-border;
}

th,
td {
  vertical-align: top;
}

tr:nth-of-type(2n) > td {
  background-color: $table-odd-row-bg;
}

// IMAGES
img {
  max-width: 100%;
}

.e-img {
  display: block;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 4px;

  @media print {
    box-shadow: none;
  }
}

// MEDIA (flexibile container with 16:9 aspect-ratio)
.e-media {
  max-width: 100%;
  position: relative;
  border-radius: 4px;
  overflow: hidden;

  &__wrapper {
    width: 100%;
    @include aspect-ratio();

    > iframe,
    > embed,
    > img,
    > video {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

// Global selection
@include selection {
  background: #000;
  color: #fff;
}